* {
    margin: 0;
    box-sizing: border-box;    
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    background-color: skyblue;
    margin: 0;
    padding: 25px;
    text-align: center;
}

ul {
    padding: 25px;
    background-color: rgb(18, 255, 200);
    width: 1000px;
}

li {
    padding: 25px;
    margin-left: auto;
}